@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url("../images/cover-image-light.png");
    --color-article-link-focus-visible: #353430;
    --color-article-link-hover: #353430;
    --color-article-link-text-shadow: #ff8dcb;
    --color-article-text: #353430;
    --color-article-title: #353430;
    --color-article-title-bg: #ff8dcb;
    --color-decorated-zone: #353430;
    --color-footer-title: #ffc2e6;
    --color-header-heading: #ffc2e6;
    --color-header-heading-text-shadow: #ff8dcb;
    --color-header-subheading: #353430;
    --color-header-subheading-bg: #ff8dcb;
    --color-header-theme-menu-button: #353430;
    --color-header-theme-menu-button-focus-visible-box-shadow: #353430;
    --color-header-theme-menu-button-thin: rgba(50, 49, 45, 0.4);
    --color-page-bg: #fff1f7;
    --color-section-heading: #353430;
  }

  .rec_symbol {
    display: none;
  }
}

:root.theme_light {
  --bg-img: url("../images/cover-image-light.png");
  --color-article-link-focus-visible: #353430;
  --color-article-link-hover: #353430;
  --color-article-link-text-shadow: #ff8dcb;
  --color-article-text: #353430;
  --color-article-title: #353430;
  --color-article-title-bg: #ff8dcb;
  --color-decorated-zone: #353430;
  --color-footer-title: #ffc2e6;
  --color-footer-title-shadow: #ff0070;
  --color-header-heading: #ffc2e6;
  --color-header-heading-text-shadow: #ff8dcb;
  --color-header-subheading: #353430;
  --color-header-subheading-bg: #ff8dcb;
  --color-header-theme-menu-button: #353430;
  --color-header-theme-menu-button-focus-visible-box-shadow: #ff8dcb;
  --color-header-theme-menu-button-thin: rgba(50, 49, 45, 0.4);
  --color-page-bg: #fff1f7;
  --color-section-heading: #353430;
}

.theme-light .rec_symbol {
  display: none;
}

/*.theme_light {
  --background-color: #fff;
  --text-color: #000;
}

.theme_light body {
  background-color: var(--background-color);
  color: var(--text-color);
}
